*{
    padding:0;
    margin:0;
    box-sizing:border-box ;
}

html,body{
    height: 100%;
    width: 100%;
}

.container{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    align-content: space-between;
    justify-content: space-between;
    padding:50px;
    
}

.box{
    background-color: red;
    border:2px solid black;
    height: 200px;
    width: 200px;
    transform: rotate(45deg);
}

#nav{
    display:grid;
    grid-template-columns: 50% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
    background-color: black;
    color:white;
    padding: 20px;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
}

li{
    align-self: center;
}

h1{
    align-self: center;
}